<div class="bg-body-tertiary p-4 sticky-top">
  <nav class="container navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SIVENT</a>
      <button
        class="navbar-toggler mobile-navigation"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav list-inline">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" (click)="goHome($event)">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="goRegister($event)">Registrar</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Perfil
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Configuración</a></li>
              <li><a class="dropdown-item" href="#">Salir</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
