<app-navbar></app-navbar>
<div class="container d-flex justify-content-center align-items-center">
  <div class="col-lg-6 col-12">
    <form class="row g-3">
      <div class="col-md-6">
        <label for="inputNameProduct" class="form-label">Nombre Producto</label>
        <input type="text" class="form-control" id="inputNameProduct" />
      </div>
      <div class="col-md-6">
        <label for="inputPriceProduct" class="form-label">Precio</label>
        <input type="text" class="form-control" id="inputPriceProduct" />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlDescriptionProduct" class="form-label"
          >Descripción Producto</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlDescriptionProduct"
          rows="3"
        ></textarea>
      </div>
      <div class="col-12 p-lg-4 p-2">
        <button type="submit" class="btn btn-success w-100">Registrar</button>
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>
